// bili-comments-vote-card 投票卡片暗色模式适配
// https://github.com/BewlyBewly/BewlyBewly/issues/998
// 注意: 这些样式需要通过 JavaScript 注入到 Shadow DOM 中才能生效
// 见 src/inject/index.ts 中的 bili-comments-vote-card 处理逻辑

:host(bili-comment-user-info) {
  #user-name a[style*="color"] {
    color: var(--bew-theme-color) !important;
  }
}

:host(bili-comment-renderer) {
  #body.dark .tag[style] {
    --bili-comment-tag-color: var(--bew-text-2);
    --bili-comment-tag-bg: var(--bew-fill-1);
  }
}

:host(bili-rich-text) {
  --bili-rich-text-link-color: var(--bew-theme-color) !important;
  --bili-rich-text-link-color-hover: var(--bew-theme-color-80) !important;

  #contents img[src*="https://i0.hdslb.com/bfs/activity-plat/static/20201110/4c8b2dbaded282e67c9a31daa4297c3c/AeQJlYP7e.png"],
  #contents img[src*="https://i0.hdslb.com/bfs/reply/9f3ad0659e84c96a711b88dd33f4bc2e945045e0.png"]
  {
    filter: var(--bew-filter-icon-glow);
  }
}

:host(bili-comment-box) {
  #pub button:not(:hover, :active, .active) {
    background-color: var(--bew-theme-color-60);
  }
}
