.remove-top-bar {
  // remove the original top bar and adjust the height of the top bar to match the bewly top bar
  .bili-header .bili-header__bar,
  #internationalHeader,
  .link-navbar,
  #home_nav,
  // only hide the top bar on the home page
  .homePage #biliMainHeader,
  #bili-header-container {
    visibility: hidden;
    height: var(--bew-top-bar-height) !important;
  }

  // Remove the Bilibili Evolved's top bar
  .custom-navbar {
    display: none;
  }

  // some pages have a white bar at the top; changing the top margin fixes this problem
  .banner-wrapper,
  .home-banner-wrapper {
    margin-top: calc(-1 * var(--bew-top-bar-height)) !important;
  }
}

.remove-top-bar-without-placeholder {
  // 隐藏所有可能的顶栏元素
  #biliMainHeader,
  .bili-header,
  .bili-header__bar,
  #internationalHeader,
  .link-navbar,
  #home_nav,
  #bili-header-container {
    display: none !important;
  }

  // 移除可能的顶部间距
  .banner-wrapper,
  .home-banner-wrapper {
    margin-top: 0 !important;
  }

  // 确保内容从顶部开始，移除为顶栏预留的空间
  body {
    padding-top: 0 !important;
  }

  // 主内容区域向上移动，填补顶栏空白
  #app,
  #mirror-vdcon,
  .video-container-v1,
  .left-container,
  .international-home,
  .bili-feed4,
  .channel-layout {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }

  // 对于有固定顶部偏移的页面，重置偏移
  .bili-wrapper,
  .bili-layout {
    padding-top: 0 !important;
  }
}
